<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/header :: header}">
    <title></title>
</head>
<body id="page-top" class="newsletter-popup-modal">
<nav th:replace="~{admin/fragments/nav-bar :: nav-bar}"></nav>
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="~{admin/fragments/sidebar :: sidebar}"></ul>


    <div id="content-wrapper" class="flex-grow-1">
        <div class="container-fluid">


            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>


            <!-- Icon Cards-->
            <div th:replace="~{admin/fragments/icon-cards :: icon-cards}"></div>




            <!-- Main body information -->
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="card shadow mb-4">
                        <div class="card-header bg-primary text-white">
                            <h4 class="mb-0">Thêm người dùng mới</h4>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/admin/add-user}" th:object="${user}" method="post" enctype="multipart/form-data">
                                <div class="form-group mb-3">
                                    <label for="name">Họ và tên<span class="text-danger">*</span></label>
                                    <textarea id="name" class="form-control" th:field="*{fullName}"
                                              required></textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="email">Email<span class="text-danger">*</span></label>
                                    <textarea id="email" class="form-control" th:field="*{email}" required></textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="username">Username<span class="text-danger">*</span></label>
                                    <textarea id="username" class="form-control" th:field="*{username}" required></textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password">Password<span class="text-danger">*</span></label>
                                    <textarea id="password" class="form-control" th:field="*{password}" required></textarea>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="phonenumber">Số điện thoại<span class="text-danger">*</span></label>
                                    <textarea id="phonenumber" class="form-control" th:field="*{phoneNumber}"
                                              required></textarea>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="address">Địa chỉ<span class="text-danger">*</span></label>
                                    <textarea id="address" class="form-control" th:field="*{address}"
                                              required></textarea>
                                </div>
                                <div class="form-group mb-4">
                                    <label>Vai trò<span class="text-danger">*</span></label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" th:field="*{role}" value="admin"
                                                   id="admin" checked>
                                            <label class="form-check-label" for="activeTrue">ADMIN</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" th:field="*{role}" value="user"
                                                   id="user" checked>
                                            <label class="form-check-label" for="activeTrue">Người dùng</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label>Trạng thái<span class="text-danger">*</span></label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" th:field="*{isActive}" value="1"
                                                   id="activeTrue" checked>
                                            <label class="form-check-label" for="activeTrue">Kích hoạt</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" th:field="*{isActive}" value="0"
                                                   id="activeFalse" checked>
                                            <label class="form-check-label" for="activeTrue">Ẩn</label>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-success w-100">
                                        <i class="fas fa-save"></i> Thêm tài khoản
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="mt-auto" th:replace="~{admin/fragments/footer :: footer}"></footer>
    </div>
</div>
</body>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Logout Modal-->
<div  th:replace="~{admin/fragments/logout :: logout}"></div>
z
</html>
