<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/layout :: layout (~{::title}, ~{::section})">
<head>
    <title>Thêm sản phẩm</title>
</head>
<section>
    <body class="sticky-header newsletter-popup-modal">
    <div class="container py-5">
        <h2 class="title mb--40">Thêm sản phẩm mới</h2>
        <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
        <form th:action="@{/add-product}" th:object="${product}" method="post">
            <div class="form-group">
                <label>Tên sản phẩm <span>*</span></label>
                <input type="text"  th:field="*{name}" required>
            </div>
            <div class="form-group">
                <label>Mã danh mục (CategoryID)<span>*</span></label>
                <input type="text" th:field="*{categoryID}" required>
            </div>
            <div class="form-group">
                <label>Mô tả<span>*</span></label>
                <textarea type="text" th:field="*{description}"></textarea>
            </div>
            <div class="form-group">
                <label>Giá<span>*</span></label>
                <input type="text"  th:field="*{price}" required>
            </div>
            <div class="form-group">
                <label>Số lượng<span>*</span></label>
                <input type="text"  th:field="*{quantity}" required>
            </div>
            <div class="form-group">
                <label>Ảnh (upload)<span>*</span></label>
                <input type="file"  name="imageFile" accept="image/*">
            </div>
            <div class="form-group">
                <input type="checkbox" class="form-check-input" th:field="*{active}" checked>
                <label>Kích hoạt<span>*</span></label>
            </div>
                <button type="submit" class="axil-btn btn-bg-primary checkout-btn">Thêm sản phẩm</button>
        </form>
    </div>
    </body>
</section>