<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="vi">
<p sec:authentication="principal.authorities"></p>
<ul class="sidebar navbar-nav" id="accordionSidebar" th:fragment="sidebar" lang="vi">

	<li class="nav-item active" sec:authorize="hasAnyRole('Shipper','Admin')">
		<a class="nav-link" th:href="@{/shipper/dashboard}">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Trang Chủ</span>
		</a>
	</li>

	<li class="nav-item" sec:authorize="hasAnyRole('Shipper','Admin')">
		<a class="nav-link" th:href="@{/shipper/orders}">
			<i class="fas fa-fw fa-list"></i>
			<span>Tất Cả Đơn Hàng</span>
		</a>
	</li>
	<li class="nav-item" sec:authorize="hasAnyRole('Shipper','Admin')">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseShipperOrders"
		   aria-expanded="false" aria-controls="collapseShipperOrders">
			<i class="fas fa-fw fa-shipping-fast"></i>
			<span>Quản lí giao hàng</span>
		</a>
		<div id="collapseShipperOrders" class="collapse" aria-labelledby="headingShipperOrders"
		     data-parent="#accordionSidebar">
			<div class="collapse-inner">
				<a class="collapse-item" th:href="@{/shipper/orders?status=PROCESSING}">
					<i class="fas fa-clock text-warning mr-2"></i>Đang xử lý
				</a>
				<a class="collapse-item" th:href="@{/shipper/orders?status=SHIPPED}">
					<i class="fas fa-shipping-fast text-info mr-2"></i>Đang giao hàng
				</a>
				<a class="collapse-item" th:href="@{/shipper/orders?status=DELIVERED}">
					<i class="fas fa-check-circle text-success mr-2"></i>Đã giao hàng
				</a>
				<a class="collapse-item" th:href="@{/shipper/orders?status=CANCELLED}">
					<i class="fas fa-times-circle text-danger mr-2"></i>Đã hủy
				</a>
			</div>
		</div>
	</li>
</ul>
</html>
 