<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/header :: header}">
    <title></title>
</head>
<body id="page-top" class="newsletter-popup-modal">
<nav th:replace="~{admin/fragments/nav-bar :: nav-bar}"></nav>
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="~{admin/fragments/sidebar :: sidebar}"></ul>

    <div id="content-wrapper" class="flex-grow-1">
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>

            <!-- Icon Cards-->
            <div th:replace="~{admin/fragments/icon-cards :: icon-cards}"></div>


            <!-- Main body information -->
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="card shadow mb-4">
                        <div class="card-header bg-primary text-white">
                            <h4 class="mb-0">Thêm danh mục mới</h4>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/admin/add-product}" th:object="${product}" method="post" enctype="multipart/form-data">
                                <div class="form-group mb-3">
                                    <label for="categoryId">Mã sản phẩm<span class="text-danger">*</span></label>
                                    <textarea id="categoryId" class="form-control" th:field="*{productID}"
                                              required></textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="name">Tên sản phẩm<span class="text-danger">*</span></label>
                                    <textarea id="name" class="form-control" th:field="*{name}" required></textarea>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="description">Mô tả<span class="text-danger">*</span></label>
                                    <textarea id="description" class="form-control" th:field="*{description}"
                                              required></textarea>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="price">Giá<span class="text-danger">*</span></label>
                                    <textarea id="price" class="form-control" th:field="*{price}" required></textarea>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="quantity">Số lượng<span class="text-danger">*</span></label>
                                    <textarea id="quantity" class="form-control" th:field="*{quantity}"
                                              required></textarea>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="category">Danh mục<span class="text-danger">*</span></label>
                                    <select id="category" class="form-control" th:field="*{categories.CategoryID}" required>
                                        <option value="" disabled selected>Chọn danh mục</option>
                                        <option th:each="category : ${categories}" th:value="${category.CategoryID}"
                                                th:text="${category.Name}"></option>
                                    </select>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="imageURL">Hình ảnh<span class="text-danger">*</span></label>
                                    <input id="imageURL" class="form-control" th:type="file" name="productImage"
                                           required>
                                </div>
                                <div class="form-group mb-4">
                                    <label>Trạng thái<span class="text-danger">*</span></label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" th:field="*{isActive}" value="1"
                                                   id="activeTrue" checked>
                                            <label class="form-check-label" for="activeTrue">Kích hoạt</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" th:field="*{isActive}" value="0"
                                                   id="activeFalse" checked>
                                            <label class="form-check-label" for="activeTrue">Ẩn</label>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-success w-100">
                                        <i class="fas fa-save"></i> Thêm sản phẩm
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="mt-auto" th:replace="~{admin/fragments/footer :: footer}"></footer>
    </div>
</div>
</body>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

</html>
