<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/header :: header}"></head>
<title></title>
<body id="page-top" class="newsletter-popup-modal">
<nav th:replace="~{admin/fragments/nav-bar :: nav-bar}"></nav>
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="~{admin/fragments/sidebar :: sidebar}"></ul>

    <div id="content-wrapper" class="flex-grow-1">
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>

            <!-- Icon Cards-->
            <div th:replace="~{admin/fragments/icon-cards :: icon-cards}"></div>


            <!-- Main body information -->
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="card shadow mb-4">
                        <div class="card-header bg-primary text-white">
                            <h4 class="mb-0">Chỉnh sửa sản phẩm</h4>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/admin/edit-product}" th:object="${product}" method="post" enctype="multipart/form-data">
                                <input type="hidden" th:field="*{imageURL}" />
                                <div class="form-group mb-3">
                                    <label for="categoryId">Mã sản phẩm</label>
                                    <textarea id="categoryId" class="form-control" th:field="*{productID}"
                                              readonly></textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="name">Tên sản phẩm</label>
                                    <textarea id="name" class="form-control" th:field="*{name}" ></textarea>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="description">Mô tả</label>
                                    <textarea id="description" class="form-control" th:field="*{description}"
                                              ></textarea>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="price">Giá</label>
                                    <textarea id="price" class="form-control" th:field="*{price}" ></textarea>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="quantity">Số lượng</label>
                                    <textarea id="quantity" class="form-control" th:field="*{quantity}"
                                              ></textarea>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="category">Danh mục</label>
                                    <select id="category" class="form-control" th:field="*{categories.CategoryID}" >
                                        <option value="" disabled selected>Chọn danh mục</option>
                                        <option th:each="category : ${categories}" th:value="${category.CategoryID}"
                                                th:text="${category.Name}"></option>
                                    </select>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="imageURL">Hình ảnh</label>
                                     <img th:src="@{'/uploads/'+${product.imageURL}}" alt="Product image" style="max-width: 150px; display: block; margin-bottom: 10px;">
                                    <input id="imageURL" class="form-control" th:type="file" name="productImage">
                                </div>
                                <div class="form-group mb-4">
                                    <label>Trạng thái</label>
                                    <div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" th:field="*{active}" value="1"
                                                   id="activeTrue" checked>
                                            <label class="form-check-label" for="activeTrue">Kích hoạt</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" th:field="*{active}" value="0"
                                                   id="activeFalse" checked>
                                            <label class="form-check-label" for="activeTrue">Ẩn</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center gap-3">
                                    <a th:href="@{/admin/product}" class="btn btn-secondary w-50 " onclick="return confirm('Bạn có ' +
                                    'chắc chắn muốn hủy chỉnh sửa?');">
                                        <i class="fas fa-times"></i> Hủy
                                    </a>
                                    <button type="submit" class="btn btn-success w-50">
                                        <i class="fas fa-save"></i> Chỉnh sửa sản phẩm
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="mt-auto" th:replace="~{admin/fragments/footer :: footer}"></footer>
    </div>
</div>
</body>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div  th:replace="~{admin/fragments/logout :: logout}"></div>
z
</html>
