<div th:fragment="footer">
<footer >
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright © ComputerShop Website 2025</span>
        </div>
    </div>
    <script th:src="@{/assets2/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets2/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/assets2/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Page level plugin JavaScript-->
    <script th:src="@{/assets2/vendor/chart.js/Chart.min.js}"></script>
    <script th:src="@{/assets2/vendor/datatables/jquery.dataTables.js}"></script>
    <script th:src="@{/assets2/vendor/datatables/dataTables.bootstrap4.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/assets2/js/sb-admin.min.js}"></script>
    <script th:src="@{/assets2/js/colReorder-bootstrap4-min.js}"></script>
    <script th:src="@{/assets2/js/colReorder-dataTables-min.js}"></script>

    <!-- Demo scripts for this page-->
    <script th:src="@{/assets2/js/demo/datatables-demo.js}"></script>
    <script th:src="@{/assets2/js/demo/chart-area-demo.js}"></script>
    <script th:src="@{/assets2/js/colReorder-dataTables-min.js}"></script>
    <script th:src="@{/assets2/js/colReorder-bootstrap4-min.js}"></script>

</footer>
</div>