<ul class="sidebar navbar-nav" id="accordionSidebar" th:fragment="sidebar" lang="vi">
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/admin/dashboard}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang Chủ</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategories"
           aria-expanded="false" aria-controls="collapseCategories">
            <i class="fas fa-fw fa-tags"></i>
            <span>Quản lí danh mục</span>
        </a>
        <div id="collapseCategories" class="collapse" aria-labelledby="headingCategories" data-parent="#accordionSidebar">
            <div class="collapse-inner">
                <a class="collapse-item" th:href="@{/admin/categories}">
                    <i class="fas fa-list mr-2"></i>Danh sách danh mục
                </a>
                <a class="collapse-item" th:href="@{add-categories}">
                    <i class="fas fa-plus mr-2"></i>Thêm danh mục
                </a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts"
           aria-expanded="false" aria-controls="collapseProducts">
            <i class="fas fa-fw fa-box"></i>
            <span>Quản lí sản phẩm</span>
        </a>
        <div id="collapseProducts" class="collapse" aria-labelledby="headingProducts" data-parent="#accordionSidebar">
            <div class="collapse-inner">
                <a class="collapse-item" th:href="@{/admin/product}">
                    <i class="fas fa-list mr-2"></i>Danh sách sản phẩm
                </a>
                <a class="collapse-item" th:href="@{/admin/add-product}">
                    <i class="fas fa-plus mr-2"></i>Thêm sản phẩm
                </a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
           aria-expanded="false" aria-controls="collapseUsers">
            <i class="fas fa-fw fa-users"></i>
            <span>Quản lí người dùng</span>
        </a>
        <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers" data-parent="#accordionSidebar">
            <div class="collapse-inner">
                <a class="collapse-item" th:href="@{/admin/user}">
                    <i class="fas fa-list mr-2"></i>Danh sách người dùng
                </a>
                <a class="collapse-item" th:href="@{/admin/add-user}">
                    <i class="fas fa-user-plus mr-2"></i>Thêm người dùng
                </a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/orders}">
            <i class="fas fa-fw fa-shopping-cart"></i>
            <span>Quản lí đơn hàng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/charts}">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Thống kê</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/tables}">
            <i class="fas fa-fw fa-table"></i>
            <span>Báo cáo</span>
        </a>
    </li>
</ul>
